.body-color{
    background-color: rgb(222, 215, 203);
}

/* nav style */
.nav-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-size: 32px;
    font-weight: 222px;
    color: black ;
}
.sign-style{
    font-weight: 116px;
    color: #006A50;
}
/* share  */
.color-style{
    color: #0E0E0E;
    font-weight: bold;
}
.btn-style{
   border-radius: 10px;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.title{
    font-size: 22px;
    font-weight: bold;
    color: #0E0E0E;
    padding-top: 30px;
}

/* first-box style */
.div-start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    width: 90%;
    height: 560px;
    display: flex;
    margin: 160px auto;
    border-radius: 7px;
}
.new-start-box1{
    height: 326px;
    width: 34%;
    margin-left: 5%;
}
.box1-title{
    font-size: 56px;
}
.first-btn {
    height: 56px;
    width: 270px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: bold;
}
.new-start-box2{
    padding-right: 59px;
}
/* pillars box style */
.paillars-section{
    margin: 0px 85px 30px 85px;
}
.pillars-box{
    display: flex;
    gap: 50px;
   
}
.pillars{
    height: 244px;
    background-color: #F1F1F3;
    padding: 30px;
    border-radius: 10px;
}

.pillars-description{
    font-size: 16px;
    font-weight: 254px;
    color: #0E0E0E;
    padding-top: 36px;

} 
/* vision box style */

.vision-section{
    margin: 0px 85px 30px 85px;
}
.vision-box{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.vision{
    height: 325px;
    width: 411px;
    padding: 30px;
    border-radius: 10px;
    gap: 40px;

}
.vision-title{
    font-size: 22px;
    font-weight: 254px;

}
.vision-description{
    font-size: 16px;
    padding-top: 20px 0px 20px ;
}
.vision-b-description{
    padding: 25px 0px;
}

.learn-more-btn{
    width: 122px;
    height: 41px;
    padding: 11px 20px;
    border-radius: 8px;
}
.btn1{
    background-color: #5490F5;
}
.btn2{
    background-color: #09A15C;
}
.btn3{
    background-color: #FFC239;
}
.box1{
    background-color: #aec2e5;
}
.box2{
    background-color: #9ddec1;
}
.box3{
    background-color: #f6e7c6;
}

/* dr-yunus */

.dr-yunus{
   
    height: 256px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
    background-color: #FFFFFF;
    justify-content: space-around;
    margin-top: 70px;
    gap: 30px;
}
.dr-yunus-b1{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
    height: 170px;
    width: 70%;
    padding: 30px 20px;
    gap: 10px;

}
/* Recent News style */
.news{
    height: 1406px;
    margin: 0px 85px 30px 85px;
    
}
.right-satelite{
    display: flex;
    height: 402px;
    border-radius: 8px;
    margin-top: 60px;
    background-color: #FFFFFF;
    align-items: center;
    padding: 0 60px;
}
.satelite-img{
    border-radius: 10px;
}
.satelite-btn{
    height: 48px;
    width: 139px;
    background-color: #006A50;
    border-radius: 8px;
    padding: 13px 26px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
}
/* left img satelite */

.left-satelite{
    display: flex;
    height: 402px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 90px;
    background-color: #FFFFFF;
    align-items: center;
    padding: 0 60px;

}
.left-satelite-description{
    margin: 0 0 0 40px;
}

/* newsletter*/

.newsletter-section {
    height: 395px;
    margin-top: 50px;
    background-color: #C6E4D6;
    margin: 100px 85px 0px 85px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    
  }
  
  .newsletter-title {
    color: #333;
    margin-bottom: 20px;
    font-size: 40px;
  }
  
  .newsletter-sub {
    color: #0E0E0E;
    margin-bottom: 20px;
  }
  
  .newsletter-form {
    display: inline;
    align-items: center;
    max-width: 500px;
    margin:  auto;
  }
  
  .newsletter-input {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 450px;
  }
  
  .newsletter-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #2d8b41;
    border: none;
    border-radius: 0px 10px 10px 0px; 
    cursor: pointer;
    padding-left: 20px;
  }
 
  
  .newsletter-button:hover {
    background-color: #0056b3;
  }
  
