.body-color{
    background-color: rgb(236, 220, 220);
}
.new-bd{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 70%;
}

/* nav style */
.nav-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-size: 36px;
    font-weight: 222px;
    text-shadow: #00346c;
    color: #0E0E0E ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign-style{
    font-weight: 116px;
    color: #006A50;
}
.sign-style:hover{
    background-color: rgb(222, 167, 65);
}
/* share  */
.color-style{
    color: #0E0E0E;
    font-weight: bold;
}
.btn-style{
   border-radius: 10px;
}
.main-title{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0E0E0E;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    opacity: 80%;
    color: #0E0E0E;
    padding-top: 30px;
}
.satelite-img{
    border-radius: 16px;
}
.description{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 24px 0px;
    color: #0E0E0E;
}

/* first-box style */
.div-start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    width: 90%;
    height: 560px;
    display: flex;
    margin: 160px auto;
    border-radius: 7px;
}
.new-start-box1{
    height: 326px;
    width: 34%;
    margin-left: 5%;
}
.box1-title{
    font-size: 56px;
}
.first-btn {
    height: 56px;
    width: 270px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: bold;
}
.first-btn:hover{
    background-color: rgb(0, 255, 76);
    transition-duration: 1s;
}
.new-start-box2{
    padding-right: 59px;
}
/* pillars box style */
.paillars-section{
    margin: 0px 85px 30px 85px;
}
.pillars-box{
    display: flex;
    gap: 50px;
   
}
.pillars{
    height: 244px;
    background-color: #F1F1F3;
    padding: 30px;
    border-radius: 10px;
}


/* vision box style */

.vision-section{
    margin: 0px 85px 30px 85px;
}
.vision-box{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.vision{
    height: 325px;
    width: 411px;
    padding: 30px;
    border-radius: 10px;
    gap: 40px;

}
.vision-title{
    font-size: 22px;
    font-weight: 254px;

}

.learn-more-btn{
    width: 122px;
    height: 41px;
    padding: 11px 20px;
    border-radius: 8px;
}
.learn-more-btn:hover{
    background-color: rgb(141, 81, 91);
    transition-duration: 1s;
}
.btn1{
    background-color: #5490F5;
}
.btn2{
    background-color: #09A15C;
}
.btn3{
    background-color: #FFC239;
}
.box1{
    background-color: #aec2e5;
}
.box2{
    background-color: #9ddec1;
}
.box3{
    background-color: #f6e7c6;
}

/* dr-yunus */

.dr-yunus{
   
    height: 264px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
    background-color: #FFFFFF;
    justify-content: space-around;
    margin-top: 70px;
}
.dr-yunus-b1{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
    height: 170px;
    width: 70%;
    padding: 20px 20px;
    gap: 10px;

}

/* table style */

.table-section{
    height: 481px;
    align-items: center;
    justify-content: center;
    margin: 0px 85px 30px 85px;
  
}
.sub-opinion{
    height: 320px;
    width: 98%;
    border-radius: 10px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content:center;
}
.table-box{
    height: 300px;
    border: 1px solid rgb(221, 208, 208);
    border-collapse: collapse;
    padding-top: 30px ;
    justify-content: space-between;
    width: 98%;
    margin: 50px auto 0 auto;
   
}
.option-box{
    height: 44px;
    width: 140px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 85%;
    text-align: center;
    margin-right: 50px;
    align-items: center;
    border-radius: 4px;
    background-color: #95d2b5;
}
td{
    border: 1px solid rgb(154, 154, 154);
    align-items: center;
    margin-left: 30px;
}
table{
    margin-top: 50px;
}
.first-thead{
    height: 50px;
    background-color:#8cbdb2;
}
.row{
    width: 90%;
    margin-left: 2000px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.table-head{
    justify-content: start;
    padding-right: 1180px;
}

/* Recent News style */
.news{
    height: 1406px;
    margin: 0px 85px 30px 85px;
    
}
.right-satelite{
    display: flex;
    height: 402px;
    border-radius: 8px;
    margin-top: 60px;
    background-color: #FFFFFF;
    align-items: center;
    padding: 0 60px;
}
.satelite-btn{
    height: 48px;
    width: 139px;
    background-color: #006A50;
    border-radius: 8px;
    padding: 13px 26px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
}
.satelite-btn:hover{
    background-color: rebeccapurple;
    transition-duration: 2s;
}

/* left img satelite */

.left-satelite{
    display: flex;
    height: 402px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 90px;
    background-color: #FFFFFF;
    align-items: center;
    padding: 0 60px;

}
.left-satelite-description{
    margin: 0 0 0 40px;
}

/* donate today */

.donate-box{
    justify-content: center;
    align-items: center;
    height: 460px;
    margin: 150px 85px 30px 85px;
    text-align: center;
}
.sub-parent-donate-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 150px;
}
.sub-donate-box{
    display: flex;
    height: 100px;
    width: 230px; 
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.sub-donate-box:hover{
    background-color: #abcb4c;
}
.donate-input{
    height: 64px;
    width: 80%;
}
.sub-input-donat{
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 20px 500px;
    margin-left: 270px;
    margin-top: 15px;
    border: none;
}
.donate-btn{
    margin-top: 40px;
}
.donate-btn:hover{
    background-color: #5490F5;
    transition-duration: 1s;
}
/* newsletter*/

.newsletter-section {
    height: 300px;
    margin: 0 1000px;
    background-color: #C6E4D6;
    margin: 100px 85px 0px 85px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding-top: 40px;
    
  }
  
  .newsletter-title {
    color: #333;
    margin-bottom: 20px;
    font-size: 40px;
  }
    
  .newsletter-form {
    display: inline;
    align-items: center;
    max-width: 500px;
  }
  
  .newsletter-input {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 450px;
  }
  
  .newsletter-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #2d8b41;
    border: none;
    border-radius: 0px 10px 10px 0px; 
    cursor: pointer;
    padding-left: 20px;
  }

 .subscribe{
    height: 280px;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 70px auto 0px auto ;
 }
  
 /* hover style */
  .newsletter-button:hover {
    background-color: #0056b3;
    transition-duration: 1s;
  }

  
